@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    --white: #fff;
    --black: #000;
    --blue: #1F4EB3;
    --darkBlue: #0E1D3C;
    --blueFooter: #071022;
    --greenBtn: #1FB335;
}

* {
    margin: 0;
    padding: 0;
}

body {
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* BTN WPP PADRAO */

.whatsBtn {
    border-radius: 2px;
    background-color: var(--greenBtn);
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}

.whatsBtn img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.whatsBtn:hover {
    transform: scale(1.02);
}

/* css header */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    width: 100%;
    /* background-color: black; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    height: 151px;
    align-items: center;
    justify-content: space-between;
}

.mainHeader img {
    width: 264px;
    height: 57px;
}

.mainHeader nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.mainHeader nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.mainHeader nav {
    justify-content: space-between;
}

.mainHeader nav ul li {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainHeader nav ul li a {
    transition: 0.3s color ease-in-out; 
}

.mainHeader nav ul li a:hover {
    color: var(--blue);
}

.mainHeader nav .whatsBtn {
    background-color: var(--blue);
    border-radius: 2px;
    height: 46px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.mainHeader nav .whatsBtn:hover {
    background-color: var(--blue);
}

.mainHeader nav .whatsBtn img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

/* css da pagina */

#mainSection {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-block: 65px;

    position: relative;
    overflow: hidden;
}

#mainSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

#mainSection .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 15.91%, rgba(0, 0, 0, 0.70) 92.98%), linear-gradient(0deg, rgba(9, 21, 45, 0.70) 0%, rgba(9, 21, 45, 0.70) 100%);
  z-index: 2;
}

#mainSection .content {
  position: relative;
  z-index: 3;
  top: 80px;
}

#mainSection .titleBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 45px;
}

#mainSection .titleBox h1 {
    color: var(--white);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    /* 108.333% */
}

#mainSection .titleBox p {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 145% */
}

#mainSection .titleBox ul {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

#mainSection .titleBox ul li::before {
    content: url(midias/icons/triangle-white.svg);
    margin-right: 10px;
}

#mainSection .form {
    /* height: 640px; */
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.13);
    backdrop-filter: blur(4.400000095367432px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
}

#mainSection .form .formInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

#mainSection .form .formInfo .inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#mainSection .form h3 {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainSection .form label {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainSection .form input {
    border-radius: 4px;
    height: 40px;
    border: none;
}

/* ENTREGA ATRASADA */

#delayedDelivery {
    width: 100%;
    margin-top: 140px;
}

#delayedDelivery .ddBox .ddContent > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#delayedDelivery .ddBox .ddContent h2 {
    color: var(--black);
} 

#delayedDelivery .ddBox .ddContent p {
    color: var(--black);
}

#delayedDelivery .ddBox .ddContent ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#delayedDelivery .ddBox .ddContent ul li::before {
    content: url(midias/icons/triangle-blue.svg);
    margin-right: 10px;
}

#delayedDelivery .ddBox .ddContent .whatsBtn {
    width: 60%;
}

#delayedDelivery .ddBox .ddImg {
    position: relative;
}

#delayedDelivery .ddBox .ddImg img {
    position: absolute;
    top: -19px;
    left: 0;
    height: 450px;
}

/* GARANTIA DA LEI */

#lawGuarantee {
    width: 100%;
    background: linear-gradient(100deg, #142E64 0.02%, #0E1D3C 99.98%);
    padding: 110px;
    margin-top: 110px;
}

#lawGuarantee .lawBox .lawContent > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lawGuarantee .lawBox .lawContent h2 {
    color: var(--white);
} 

#lawGuarantee .lawBox .lawContent p {
    color: var(--white);
}

#lawGuarantee .lawBox .lawContent ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
}

#lawGuarantee .lawBox .lawContent ul li::before {
    content: url(midias/icons/triangle-white.svg);
    margin-right: 10px;
}

#lawGuarantee .lawBox .lawContent .whatsBtn {
    width: 60%;
}

/* ATUACAO */

#performance {
    width: 100%;
    margin-top: 110px;
}

#performance .pfBox .pfContent > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#performance .pfBox .pfContent h2 {
    color: var(--black);
} 

#performance .pfBox .pfContent p {
    color: var(--black);
}

#performance .pfBox .pfContent .whatsBtn {
    width: 60%;
}

#performance .pfBox .pfContent .numbers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#performance .pfBox .pfContent .numbers h3 {
    color: var(--blue);
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 175% */
}

#performance .pfBox .pfContent .numbers p {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 161.111% */
}

/* POR QUE ESCOLHER */

#choose {
    margin-top: 110px;
}

#choose h2 {
    color: var(--black);
    width: 650px;
    margin: 0 0 40px 20px;
}

#choose .cardWrapper .chooseCards {
    border-radius: 5px;
    border: 4px solid var(--blue);
    background: var(--darkBlue);
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    transition: 0.3s all ease-in-out;
}

#choose .cardWrapper .chooseCards:hover {
    cursor: pointer;
    transform: translateY(5px);
}

#choose .cardWrapper .chooseCards img {
    width: 70px;
    height: 70px;
    aspect-ratio: 1/1;
}

#choose .cardWrapper .chooseCards h3 {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-align: center;
}

/* REVIEWS */

#reviews {
    margin-top: 110px;
    background: linear-gradient(100deg, #142E64 0.02%, #0E1D3C 99.98%);
    width: 100%;
    padding: 136px;
}

#reviews .revBox .revContent h2 {
    color: var(--white);
}

#reviews .revBox .revContent .buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#reviews .revBox .revContent .buttons button {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviews .revBox .revContent .buttons button:hover {
    background-color: lightblue;
}

#reviews .revBox .rvCardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
    
}

#reviews .revBox .rvCardWrapper .rvCard {
    border-radius: 6px;
    background-color: #F9F9F9;    
    width: 538px;
    height: 270px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

#reviews .revBox .rvCardWrapper .rvCard .googleImg {
    background-color: var(--blue);
    width: 128px;
    height: 114px;
    border-radius: 6px 0 40px 0;
    background: #1F4EB3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviews .revBox .rvCardWrapper .rvCard .cardContent {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#reviews .revBox .rvCardWrapper .rvCard .cardContent .identity {
    color: #071022;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reviews .revBox .rvCardWrapper .rvCard .cardContent .review, #reviews .revBox .rvCardWrapper .rvCard .cardContent .dateReview {
    color: #071022;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 143.75% */
}

/* CTA */

#cta .cta {
    border-radius: 10px;
    background: linear-gradient(100deg, #0E1D3C 0.02%, #142E64 99.98%);
    height: 550px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  */
    margin-top: 215px;
}

#cta .cta .ctaImg {
    position: relative;
}

#cta .cta .ctaImg img {
    position: absolute;
    max-width: 685px;
    top: -135px;
    right: -17px;
    z-index: 20;
}

#cta .rounded {
    z-index: 10;
    position: absolute;
    width: 538px;
    height: 450px;
    border-radius: 200px 10px 10px 0;
    background: var(--blue);
    right: -15px;
    margin-top: 100px;
}


#cta .cta .callToAction {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 56px;
}

#cta .cta .callToAction .whatsBtn {
    width: 80%;
}

#cta .cta .callToAction h2 {
    color: var(--white);
    font-size: 50px;
    margin-bottom: 0;
}

#cta .cta .callToAction span {
    font-weight: 800;
}

#cta .cta .callToAction p {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

/* FOOTER */
.boxFooter {
    width: 100%;
    background: linear-gradient(100deg, #142E64 0.02%, #0E1D3C 99.98%);
    margin-top: 110px;
}

.footerWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: space-around;
    gap: 72px;
    margin-bottom: 100px;
}

.footerWrapper img {
    width: 315px;
    height: 68.118px;
}

.boxFooter .footerWrapper .navigation ul li a {
    transition: 0.3s color ease-in-out; 
}

.boxFooter .footerWrapper .navigation  ul li a:hover {
    color: var(--blue);
}

.boxFooter .footerWrapper .navigation,
.boxFooter .footerWrapper .infos {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.boxFooter .footerWrapper .navigation h3,
.boxFooter .footerWrapper .infos h3 {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.boxFooter .footerWrapper .navigation ul,
.boxFooter .footerWrapper .infos ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER COPYRIGHTS */

footer .copyrights {
    width: 100%;
    height: 40px;
    background-color: var(--blueFooter);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyrights a {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

footer .copyrights span {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 137.5% */
}

footer .copyrights p {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


/* MOBILE */

@media (max-width: 992px) {
    .hideOnMobile {
        display: none !important;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    .whatsBtn {
        width: 100% !important;
        padding: 10px;
        font-size: 16px;
    }

    .whatsBtn:hover {
        transform: none;
    }

    #mainSection {
        height: auto;
        padding-top: 150px;
    }

    #mainSection .content {
        top: 0;
    }

    #mainSection .titleBox h1 {
        font-size: 36px;
        line-height: normal;
    }

    #mainSection .form h3 {
        font-size: 18px;
    }

    #mainSection .form label {
        font-size: 16px;
    }

    #mainSection .titleBox p, #mainSection .titleBox ul {
        font-size: 16px;
    }

    #delayedDelivery {
        padding-inline: 25px;
        margin-top: 80px;
    }

    #lawGuarantee {
        padding: 45px 25px;
    }

    #performance {
        margin-top: 80px;
        padding-inline: 25px;
    }

    #performance .pfBox .pfContent .numbers h3 {
        font-size: 24px;
        line-height: normal;
    }

    #performance .pfBox .pfContent .numbers p {
        font-size: 16px;
    }

    #performance .pfBox .pfContent .numbers {
        gap: 15px;
    }

    #choose h2 {
        width: auto;
    }

    #choose .cardWrapper .chooseCards h3 {
        font-size: 16px;
    }

    #cta .cta {
        height: auto;
        margin-top: 110px;
    }

    #cta .cta .callToAction h2 {
        font-size: 32px;
    }

    #cta .cta .callToAction p {
        font-size: 16px;
    }

    .footerWrapper {
        flex-direction: column;
        gap: 30px;
        padding: 45px 25px;
        margin: 0;
    }

    .footerWrapper img {
        width: 90%;
        height: auto;
    }

    .boxFooter .footerWrapper .navigation h3, .boxFooter .footerWrapper .infos h3 {
        font-size: 20px;
    }

    footer .copyrights {
        padding: 10px;
        height: auto;
    }
}