@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    --white: #fff;
    --black: #000;
    --blue: #1F4EB3;
    --darkBlue: #0E1D3C;
    --blueFooter: #071022;
    --greenBtn: #1FB335;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* css header */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    width: 100%;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    height: 151px;
    align-items: center;
    justify-content: space-between;
}

.mainHeader img {
    width: 264px;
    height: 57px;
}

.mainHeader nav, .mainHeader nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mainHeader nav {
    justify-content: space-between;
}

.mainHeader nav ul li {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainHeader nav .wpp {
    width: 40%;
}

.mainHeader nav .whatsBtn {
    background-color: var(--blue);
    border-radius: 2px;
    height: 46px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.mainHeader nav .whatsBtn img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

/* css da pagina */
/* ajeita grid para espaçamento */

/* @media (min-width: 992px) {

    #faq .faqQuestions,
    #solution .city {
        grid-column: 7 / span 6;
        position: relative;
    }

    #descarte .descarteInfos {
        grid-column: 8 / span 5;
    }
} */

/* BANNER PRINCIPAL */
#mainSection .titleBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mainSection .titleBox h1 {
    color: var(--white);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 108.333% */
}

#mainSection .titleBox p {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 145% */
}

#mainSection .titleBox ul {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

#mainSection .titleBox ul li::before {
    content: url(midias/icons/triangle-white.svg);
    margin-right: 10px;
}

#mainSection .form {
    height: 640px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.13);
    backdrop-filter: blur(4.400000095367432px);
}